footer {
  background: #111827;

  color: white;

  padding: 3rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
  width: 100%;

  gap: 2rem;

  h2 {
    color: #ff8a00;
    margin-bottom: 1rem;
  }

  p {
    color: rgba(255, 255, 255, 0.8);
  }

  svg {
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;

    transition: 0.3s ease;

    &:hover {
      color: #ff8a00;
    }
  }
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    flex-direction: column;
  }
}
